<div class="center hero-unit">
  <h1>Welcome to the member management system</h1>

  <h2>
    This is the member management system. Have a nice day!!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("Framgia_logo.png", alt: "Framgia") %>